.cssdemo{
  width: 150;
  border-style: solid;
  border-color: rgb(225, 0, 255);
  border-width: 50px 50px;
}

div {
  background-color: #2acece;
  width: 200px;
}

.class1, .class2{
  border: .3rem dotted blue ;
  width: 150px;
}

#id1{
  /* color: aquamarine; */
  /*you can force an element to inherit the stuyling of it's parent.*/
  display: inherit;
}

/* select everything on the doc */
/* *{
  background-color: rgb(247, 229, 205);
} */

.class3:active{
color:white;
background-color: black;
}

.class4:hover{
  color:white;
background-color: black;
width:100;
}

a:visited{
  color:rgb(219, 60, 20);
}

/* get the first gen descendent of an element and change it on hover*/
div>sub:hover{
  background-color: pink;
}
 
.class5::first-letter{
  color:rgb(241, 16, 211);
  font-variant: small-caps;
  font-style: oblique;
  font-size: xx-large;
}

ul+ol{
  background-color: aquamarine;
  border: 15px;
}
/* style an element with a more specific 
ruleset to pervent later stylings form 
changing it */
#id2{
  border: solid pink;
}
form~p{
  color: rgb(16, 31, 238);
  /* user !important to override all other
   stylings before or after this styling */
  border: 0.5rem outset rgb(230, 131, 131) !important;
  border-width: 15px 10px 5px 1px;
  /* border-color: black; /*you can only stule all four sides at ones with this*/
  /*border-width: 50px 30px 20px 10px; */
  /* outline-width: 10px; */
}

#myPic{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 150px;
  /* s */
}

#boxModelId{
  background-color: rgb(27, 49, 146);
  width: 150;
  border: 20px double rgb(227, 228, 204);
  margin: 20px 50px 100px;
  padding: 50px;
  text-align: center;
  text-shadow: #52f7f7;
  color: blanchedalmond;
}
